@model SchoolIMgmt.Models.loginmodel
@{
    ViewData["Title"] = "Login";
    Layout = "Lgnlayout";
}

<h1>Login</h1>
<form id="loginForm" asp-action="Login" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Email </label>
                    <input type="text" id="email" class="form-control" asp-for="UserName" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Password </label>
                    <input type="password" id="password" class="form-control" asp-for="Password" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</form>

<script>
    document.getElementById('loginForm').addEventListener('submit', function(e) {
        e.preventDefault(); // Prevent form from submitting normally

        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;

       

        if (email === "" || password === "") {
            alert("Please Fill All Details");
            return false;
        } else {
             if(email=="Admin"&&password=="Abc@1234"){

        
            alert("Logged Successful");
            // Redirect to the Create page
            var createUrl = '@Url.Action("Index", "Students")';
            window.location.href = createUrl;
             }
             else{
                 alert("invalid login");
             }
        }
    });
</script>